GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_RSVP_SHEET_NAME=RSVPs
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
RESEND_API_KEY=
RSVP_EMAIL_FROM="Chance & Elysee <rsvp@yourdomain.com>"
RSVP_EMAIL_REPLY_TO=
GMAIL_SMTP_USER=ccelyse1@gmail.com
GMAIL_SMTP_APP_PASSWORD=
